[Interface]
Address = 192.168.6.1/24 
PostUp = iptables -A FORWARD -i wg0 -j ACCEPT; iptables -t nat -A POSTROUTING -o eth0 -j MASQUERADE; ip6tables -A FORWARD -i wg0 -j ACCEPT; ip6tables -t nat -A POSTROUTING -o eth0 -j MASQUERADE 
PostDown = iptables -D FORWARD -i wg0 -j ACCEPT; iptables -t nat -D POSTROUTING -o eth0 -j MASQUERADE; ip6tables -D FORWARD -i wg0 -j ACCEPT; ip6tables -t nat -D POSTROUTING -o eth0 -j MASQUERADE 
PrivateKey = {{hostvars['SERVER_KEYS_HOLDER']['serverPrivKey']}}
ListenPort = 41194

[Peer]
PublicKey = {{hostvars['CLIENT_KEYS_HOLDER']['clientPublicKey']}}
AllowedIPs = 192.168.6.2/24